* {
	margin: 0;
	padding: 0;
	list-style: none;
}


body {
	display: grid;
	height: 100vh;
	grid-template-columns: 8% auto;
	/*grid-template-areas:
	//	"sidebar main main main main"
	//	"sidebar main main main main"
	//	"sidebar main main main main"
	//	"sidebar main main main main"
	//	"sidebar main main main main"
	*/
	;
}


#main {
	background-color: white;
}

#sidebar {
	background-color: grey;
	height: 100%;
}

.menu_container {
	width: 100%;
	height: 100%;
}

.menu_item {
	background-color: lightgrey;
	padding: 2rem 0.7rem;
}

.action {
	height: 60%;
	padding-top: 10rem;
}

.ng_menu {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.ng_player_pfp_container {
	height: 35%;
	width: 100%;
}

.ng_player_pfp {
	justify-content: center;
	width: 100%;
	height: 400px;
	display: flex;
}

.ng_player_info_container {
	height: 32.5%;
	width: 100%;
}

.ng_player_info {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.ng_player_name {
	color: black;
	margin-left: 0.5rem;
}



.ng_player_name input {
	border-radius: 3rem;
	font-size: 2rem;
	padding-left: 0.6rem;
	font-style: italic;
}

.marker_info {
	font-weight: 700;
	font-size: 2.3rem;
}

#marker_container1 {
	height: 100%;
	margin-top: 0.4rem;
}

.marker_selector {
	width: 90%;
	min-width: 400px;
	max-width: 1200px;
	height: 100%;
	border: 5px solid red;
	background-color: red;
}

.marker_selector_inside {
	background-color: white;
	width: 90%;
	min-width: 400px;
	height: 100%;
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.write_icon {
	height: 40px;
	width: 40px;
}

.marker_icon {
	height: fit-content;
}

#ng_player1_pfp_display,
#ng_player2_pfp_display {
	height: 400px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4rem;
	border: 1px solid black;

}



.leftarrow,
.rightarrow {
	align-self: center;
	position: relative;
	color: grey;
	font-size: 2rem;
	cursor: pointer;
}

.leftarrow {
	left: 2rem;
}

.rightarrow {
	right: 2rem;
}

.row {
	display: flex;
	gap: 1.6rem;
	align-items: center;
	justify-content: center;
}

.ng_launch_game {
	bottom: 0;
	margin-top: 12%;
}

.ft_button {
	background-color: navy;
	color: white;
	padding: 0.5rem;
	border-radius: 5px;
}

.selected {
	background-color: lightblue;
	padding: 0.5rem;
	border-radius: 5px;
	color: white;
}

.board {
	justify-content: center;
	flex-direction: column;
	height: 100%;
	align-items: center;
}

.board_container {
	padding: 3%;
}

.cell {
	border: 1px solid black;
	background-color: white;
}

.board_row {
	display: flex;
}
